@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header-content {
    @include container;
}

.hesder-social-media {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 13px;
}

.header-logo-section {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-logo-section>img{
    background-color: $color-primary;
    padding: 3px 2px;
    border-radius: 13px;
    padding-bottom: 9px;
}

.header-logo-section>h3{
    color: $color-primary;
}

.hesder-user-section {
    display: flex;
    gap: 15px;
    align-items: center;
}