// Abstracts
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// Base
@use 'base/fonts' as *;
@use 'base/reset' as *;
@use 'base/typography' as *;

// Components
@use 'components/buttons' as *;
@use 'components/forms' as *;
@use 'components/product-card' as *;

// Layouts
@use 'layouts/header' as *;
@use 'layouts/footer' as *;

// Pages
@use 'pages/about' as *;
@use 'pages/cart' as *;
@use 'pages/catalog' as *;
@use 'pages/product-details' as *;